header{
    font-size: 30px;
    text-align: center;
    color:#F7F9FB ;
    background-color: #5085A5;
    border-style: solid;
    border-color: #5085A5;
}
body{
    background-color:#8FC1E3;     
    margin : 0px;
}

nav{
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

a:link,
a:visited{
    color: #31708E;
    text-decoration:none; 
}

a:hover{
    color: #5085A5;
}

section{
    text-align: center;
}

hr{
    width: 300px;
    background-color: #F7F9FB;
    height: 2px;

}

