h1{
    font-size: 30px;
    line-height: 1;
    font-family:cursive;
    font-weight:100;
    text-align: center;
    border-style:solid;
    border-width: thick;
    border-color: rgb(5, 132, 250);
    margin-top: 100px
}
#lol{
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding-top:"20";
   padding-bottom:"20";
    
}
#hello{
    color: rgb(6, 6, 23);
    line-height: 1;
    font-size: 30px;
    text-align: center;
    padding-top:"20";
   padding-bottom:"20";
}
li{
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1;
}
h2{
    font-size: 20px;
    line-height: 1;
}

#qp{
   color: rgb(255, 217, 0);
   font-size: 30px;
   text-align: center;
   padding-top:"20";
   padding-bottom:"20";
}
#bigP{
   font-family: serif;
   font-weight: bold;
   color: black;
   text-align: center;
   padding-top:"20";
   padding-bottom:"20";
 
}

p{font-size: 20px;}

#hi{
 font-size: 30px; 
 font-weight: bold;
 border-style: solid;
 border-width: thick; 
 border-color: rgb(5, 132, 250);
 padding-top: 20px;
 padding-bottom:20px;
 text-align: center;
}

h3{
    font-size: 20px;
}

#blogBackground{
    background-color: #99D3DF;
}
canvas{
    background-color: rgb(255, 255, 255);
    border-style: solid;
}










